body{
font-family: Arial;
background:#f2f2f2;
text-align:center;
}

h1{
background:green;
color:white;
padding:15px;
}

.container{
margin-top:20px;
}

input{
padding:10px;
width:200px;
}

button{
padding:10px;
background:green;
color:white;
border:none;
cursor:pointer;
}

ul{
list-style:none;
padding:0;
}

li{
background:white;
margin:10px;
padding:10px;
width:300px;
margin-left:auto;
margin-right:auto;
border-radius:5px;
}

.delete{
background:red;
margin-left:10px;
}